.contacto{
    display: flex;
    justify-content: center;
    gap:10em;
    text-align: center;
    width: auto;
    align-items: center;
    margin-top: 20vh;
}

features{
    display: flex;
    flex-direction: column;
}

.reservaForm{
    display: flex;
    justify-content: center;
    text-align: center;
}