header {
  @include flex-align-center;
  background-color: brown;
  gap: 20px;
  width: 100%;

  h2 {
    margin-left: auto;
    padding-right: 5px;

    .reserva {
      @include link-blanco;
      border: white 2px solid;
    }
  }

  h1 {
    color: $amarillo;
  }
}

nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #2f0707;
  }

  li {
    margin: 0;
    padding: 10px;
  }

  a {
    @include link-blanco
  }
}
