* {
    @include inicializar;
}

body {
    background: $fondo;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;

    main {
        width: 100%;
        min-height: 100vh;
        height: 100%;

        .contenedor{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;


            .banner{
                margin-top: 10em;
                display: flex;
                align-items: center;
                justify-content: center;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                height: 80vh;
                min-width: 100vw;
                color: rgb(255, 255, 255);
                background-image: url(../img/banners/banner-playa.jpg);
                background-size: cover;
                }
            }   
        }

    .wsap {
        position: fixed;
        right: 25px;
        bottom: 75px;
    }
}
